<h1><%= @user.name %>'s profile</h1>

<% if @user.images.any? %>
  <ul>
    <% @user.images.each do |image| %>
    <li>
      <%= image_tag image.image.url(:medium) %>
      <p><%= image.title %></p>
      <p><%= link_to "Edit image", edit_image_path(image) %></p>
      <p><%= link_to "Delete image", image_path(image),
                                  :data => {:confirm => "You sure?",
                                    :method => "delete"} %></p>
    </li>
    <% end %>
  </ul>
<% else %>
  <p>You don't have any images yet!</p>
<% end %>
