<h1><%= @image.title %></h1>

<div class="row">

  <div class="col-sm-6">
    <%= image_tag @image.image.url(:medium) %>
  </div>

  <div class="col-sm-6">
    <% if @message.errors.any? %>
      <p> Uh oh, here's what happened:</p>
      <ul>
        <% @message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <% if current_user %>
    <%= link_to "Text this photo to a friend!", new_message_path, id: "new_message", remote: true %>
    <% end %>
  </div>
</div>
<div>
  <p id="tag">Tags:
    <% if @image.tags.any? %>
    <% @image.tags.each do |tag| %>
    <%=  tag.description %>
    <% end %>
    <% else %>
    None yet!
    <% end %>
  </p>
</div>
<% if current_user %>
  <h3>Add a tag:</h3>
  <%= form_for [@image, @tag], :method => "post", remote: true do |f| %>

    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.hidden_field(:user_ids, :value => [current_user.id]) %>
    <%= f.hidden_field(:image_ids, :value => [@image.id]) %>
    <%= f.submit "Submit" %>
  <% end %><br>
<% end %>

<h3>Location:</h3>

<div style='width: 800px;'>
  <div id="map" style="width: 800px; height: 400px;"></div>
</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%= raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(12);
});
</script>

<br>
